body{
  z-index: 0;
  background-color: rgb(39, 39, 39);
}

.card{
  position: relative;
  width: 100px;
  filter: brightness(100%);
  transition: filter 0.46s ease-in-out;
  z-index: 1;
}

.card:hover{
  filter: brightness(95%);
  scale: 110%;
  z-index: 2;
  border: 1px solid black;
  border-radius: 5%;
}
